.organizationsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sectionHeader {
    font-size: 1.5rem;
    color: var(--color-secondary);
    margin: 20px;
}

.sortContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.loadMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

@media screen and (min-width: 768px) {
    .sortContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}
