.filters {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    margin-left: 1rem;
    border-radius: var(--default-border-radius);
    border-color: var(--color-secondary);
    width: 20vw;
}

@media screen and (max-width: 768px) {
    .filters {
        width: 100%;
    }
}

.aside {
    flex-grow:1
}