.button {
    height: 3rem;
    width: 8rem;
    border: .07em solid var(--color-secondary);
    background-color: var(--color-accent);
    color: black;
    font-weight: 600;
    border-radius: var(--default-border-radius);
}

.button:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-white);
    transition: color .4s, background-color .4s;
}

.textButton {
    height: 3rem;
    width: 8rem;
    color: black;
    font-weight: 600;
}

.textButton:hover {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-white);
    transition: color .4s, background-color .4s;
}