.mainPage {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.mainImage {
    width: 40%;
    flex: 3;
}

.tagline {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 1rem;
    color: var(--color-secondary);
    flex: 1;
}
