.item {
    /* border: .2em solid var(--color-secondary); */
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 300px;
    border-radius: var(--default-border-radius);
}

.item img {
    flex: 1;
    width: 300px;
    object-fit: cover;
    border-top-left-radius: var(--default-border-radius);
    border-bottom-left-radius: var(--default-border-radius);
}

.itemDetails {
    flex: 1;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: left;
    align-content: flex-start;
    background-color: var(--color-secondary);
    color: var(--color-gray-100);
    border-top-right-radius: var(--default-border-radius);
    border-bottom-right-radius: var(--default-border-radius);
}


.itemDetails p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.itemDetails p,h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.itemDetails .text {
    margin: 2rem 3rem;
}

.itemDetails .text .description {
    font-style: italic;
}