.dropdown {
    position: relative;
    border: 0.05em solid var(--color-gray-700);
    min-height: 1.5em;
    width: 20em;
    display: flex;
    align-items: center;
    padding: .5em;
    margin: .5em;
}

.dropdown:focus,
.dropdown:active {
    border-color: blue;
    cursor: pointer;
}

.value {
    flex-grow: 1;
}

.dropdownValues {
    position: absolute;
    top: calc(100% + .5em);
    z-index: 1;
    border: .05em solid black;
    background-color: var(--color-white-bg);
    width: 95%;
    display: none;
    padding-left: 1em;
    margin: 0;
    left: 0;
    max-height: 15em;
    overflow-y: scroll;
}

.show {
    display: flex;
    flex-direction: column;
}

.item {
    padding: .1em;
    font-size: 1.1rem;
}

.item:hover {
    background-color: var(--color-gray-300);
}

.caret {
    translate: 0 25%;
    border: .25em solid transparent;
    border-top-color: var(--color-gray-700);
    margin: 0.5em;
}

.searchContainer {
    position: sticky;
    display: flex;
    flex-direction: row;
}

.searchField {
    flex: 3;
    margin: .5em;
}

.searchButton {
    flex: 1;
    margin: .5em;
}