.dropdown {
    position: relative;
    border: 0.07em solid var(--color-secondary);
    min-height: 1.5em;
    width: 20em;
    display: flex;
    align-items: center;
    padding: .5em;
    margin: .5em;
    background-color: var(--color-primary);
    border-radius: var(--default-border-radius);
}

.dropdown:focus,
.dropdown:active,
.dropdown:hover {
    border-color: var(--color-secondary);
    cursor: pointer;
    border-width: .1em;
    box-shadow: .07em .07em .07em .07em var(--color-secondary);
    transition: box-shadow .3s;
}


.value {
    flex-grow: 1;
}

.dropdownValues {
    position: absolute;
    top: calc(100% + .5em);
    z-index: 1;
    border: .05em solid black;
    background-color: var(--color-primary);
    width: 100%;
    display: none;
    padding-left: 1em;
    margin: 0;
    left: 0;
    max-height: 15em;
    overflow-y: scroll;
    overflow-x: hidden;
    word-break: wrap;
}

.show {
    display: flex;
    flex-direction: column;
}


.caret {
    translate: 0 25%;
    border: .25em solid transparent;
    border-top-color: var(--color-gray-700);
    margin: 0.5em;
}

.disabled {
    pointer-events: none;
    opacity: .5;
}