.header {
    display: flex;
    justify-content: space-between;
    align-items:first baseline;
    margin-left: 6.5rem;
    margin-right: 6.5rem;
}

.headerText {
    font-size: 3rem;
    animation: swing-in-left-fwd 1s;
    color: var(--color-secondary);
}

.swing-in-left-fwd {
	animation: swing-in-left-fwd 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@keyframes swing-in-left-fwd {
    0% {
      transform: rotateY(100deg);
      transform-origin: left;
      opacity: 0;
    }
    100% {
      transform: rotateY(0);
      transform-origin: left;
      opacity: 1;
    }
}

.nav .list {
    display: flex;
    flex-direction: row;
}

.list a {
    color: var(--color-secondary);
    margin: .3em;
    font-size: 1.3rem;
    padding: .3em 1.3em .3em 1.3em;
}

.nav .list a:hover{
    color: var(--color-white);
    background-color: var(--color-accent);
    border-radius: 1.4em;
    transition: background-color .4s;
}