* {
  box-sizing: border-box;
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "HelveticaNeueW01-45Ligh","HelveticaNeueW02-45Ligh","HelveticaNeueW10-45Ligh",sans-serif;
  line-height: 1.5;
  letter-spacing: -.5px;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000de;
  background-color: var(--color-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --color-primary: #f3f3f3;
  --color-secondary: #2e84c1;
  --color-accent: #ffcc8d; */

  --color-primary: #FFE6D7;
  --color-secondary: #a85a42;
  --color-accent: #d54c26ee;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;
  --color-secondary-800: #7573a3;

  --color-white: #fffaf5;
  --color-white-bg: #f4f3f1;
  --default-border-radius: 1.4rem;
}

a {
  font-weight: 500;
  color: #353232;
  text-decoration: inherit;
}
a:hover {
  color: #353232;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  letter-spacing: -4px;
}

ul {
  list-style: none;
}

.tilt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.tilt svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.tilt .shape-fill {
  /* fill: #FFFFFF; */
  fill: var(--color-secondary);
}