.filtersAndList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.animals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

@media screen and (min-width: 768px) {
    .filtersAndList {
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;
        width: 100%;
    }
}

.sectionHeader {
    font-size: 1.5rem;
    color: var(--color-secondary);
    margin: 20px;
}