.select {
    height: 48px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-500);
    padding-left: 5px;
    color: var(--color-gray-900);
    font-size: 18px;
    margin-bottom: 1rem;
}

.select:active,
.select:focus,
.select:hover {
    border-color: var(--color-purple);
    box-shadow: 1px 1px 1px 1px var(--color-purple);
    cursor: pointer;
}

.selectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}